// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  darkorchid;

$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.5);

$meter-background:  darken($background-color, 7%);

// ----------------------------------------------------------------------------
// Widget-sprint-progress styles
// ----------------------------------------------------------------------------
.widget-sprint-progress {

  background-color: $background-color;

  input.meter {
    background-color: $meter-background;
    color: #fff;
  }

  .sprint-number{
    margin-left: -210px;
    margin-bottom: -27px;
  }

  .sprint_number1{
  margin-left: -150px;
  margin-bottom: -27px;
  }

  .sprint_number2{
  margin-left: -150px;
  margin-bottom: -27px;
  }

  .sprint_progress3{
  margin-left: -88px;
  margin-bottom: -27px;
  }

  .title {
    color: $title-color;
  }

  .more-info {
    color: $moreinfo-color;
  }

  .updated-at {
    color: rgba(0, 0, 0, 0.3);
  }

}