<% content_for :title do %>Konnexe Dashboard<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="jira" data-view="Number" data-title="Open Issues"></div>
    </li>

  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
  <div data-view="PullRequests"  data-header="Pull requests" data-id="github"></div>
</li>

<li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
  <div data-id="code-climate" data-view="Codeclimate" data-title="Code Climate GPA"></div>
</li>

<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
  <div data-view="SprintProgress" data-id="sprint_progress"></div>
</li>

  <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
    <div data-id="view1" data-view="JiraSprintRemainingDays"></div>
</li>
<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
  <div data-id="job1" data-view="JenkinsBuild" data-title="Build title" data-min="0" data-max="100"></div>
</li>

  </ul>

</div>
